// VARIABLES

//Colors

$black: #000000;
$white: #FFFFFF;
$_sea-green: #15675F;
$_sea-green-light: #BADAD4;
$_yellow-green: #374202;
$_navy: #152132;

//Fonts

$primary-font: 'Source Sans Pro', sans-serif;

$title-font: $primary-font;
$copy-font: $primary-font;

//Misc

$border-radius-size: 10px;

#page{
  min-height: 3000px;
}